{{ define "main" }}

{{ .Content }}

{{ range .Site.Data.related }}
<div class="box">
    <p class="aag-title green">{{ .subtitle }}</p>
    <p class="aag-subtitle">
        {{ .title }}
    </p>
    <ul style="margin-left:0.5em;">
        <li>Date: {{ .date }}</li>
        <li>Time: {{ .time }}</li>
        <li>Location: {{ .location }}</li>
    </ul>
    <p class="abstract">{{ .abstract | markdownify }}</p>
    <div class="centered">
        <a target="blank" href="{{ .link }}">
            <button class="button">
                View session in AAG portal
            </button>
        </a>
    </div>
</div>
{{ end }}

{{ end }}