{{ $title := cond .IsHome .Site.Title (print .Title " | " .Site.Title) }}
{{ $description := .Description | default (.Summary | truncate 160) | default .Site.Params.description | default "" }}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{- partial "head/csp.html" . }}
    <title>{{ $title }}</title>
    <meta name="description" content="{{ $description }}" />

    {{ if .Params.noindex }}
    <meta name="robots" content="noindex, nofollow" />
    {{ end }}

    <!-- Open Graph Meta Tags -->
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="og:title" content="{{ .Title | default .Site.Title }}" />
    <meta property="og:description" content="{{ .Params.description | default .Site.Params.description }}" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
    <meta property="og:image" content="{{ with .Params.ogImage }}{{ . | absURL }}{{ else }}{{ .Site.Params.defaultOGImage | absURL }}{{ end }}" />

    <!-- Twitter Card Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ .Title | default .Site.Title }}" />
    <meta name="twitter:description" content="{{ .Params.description | default .Site.Params.description }}" />
    <meta name="twitter:image" content="{{ with .Params.twitterImage }}{{ . | absURL }}{{ else }}{{ .Site.Params.defaultTwitterImage | absURL }}{{ end }}?35627653" />

    {{- partial "head/preload.html" . }}
    {{- partial "head/css.html" . }}
    {{/*  {{- template "_internal/opengraph.html" . -}}  */}}
    {{/*  {{- partial "head/twitter-cards.html" . }}  */}}
    {{- partial "head/published-time.html" . }}
    {{- partial "head/favicons.html" . }}
    {{- template "_internal/google_analytics.html" . -}}
    {{- partial "head/custom-css.html" . }}
    {{- partial "head/custom-head.html" . }}
    {{- partial "head/sticky-header.html" . }}
</head>